body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-image: url(images/redentor.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

.game {
  position: relative;
  width: 600px;
  height: 200px;
  background-color: white;
  border: 2px solid #333;
  overflow: hidden;
}

#dino {
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 40px;
}

#cactus {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 30px;
  right: 0;
}

.jump {
  animation: jump 0.6s ease-out;
}

@keyframes jump {
  0%   { bottom: 0px; }
  50%  { bottom: 80px; }
  100% { bottom: 0px; }
}

@keyframes cactusMove {
  0% { right: -20px; }
  100% { right: 600px; }
}

#cactus {
  animation: cactusMove 1.5s infinite linear;
}